datasets
*.pt
*.pth
*.rar
*.zip
*.7z
*.pdf

.idea
*/.idea
*/*/.idea
*/*/*/.idea
*.pyc
runs
*/runs
*/*/runs
*/*/*/runs
*.xlsx
speechQuality/PQLQA/T-REC-P.863-201803-I!!ZIP-E
*.epub
*.hdf5
*.wav
*/*/runs
*.list
*.png
speechQuality/QualityNetPOLQA/_file_old